.rowPrincipal {
    display: flex;
    padding: 0;
    padding-top: 2%;
    margin: 0;
    box-sizing: border-box;
    
  }

  .sectionArticle {
    background-color: white;
    box-shadow: 0 5px 15px -6px rgba(0, 0, 0, 0.3);
    padding: 16px;
    width: 100%;
}  
  .colInsideLeft{
    width:66.7%;
    margin-left: 3.5%;
    /* background-color: green; */
}

.colInsideRight{
    width: 26%;
    margin-right: 0.5%;
    margin-left: 0.5%;
    /* background-color: blue; */
}

.titleArticle {

    font-family: 'Inter', sans-serif;
    font-weight: 800;
    /* This means "extra-bold" */
    font-size: 30px;
    color: #8C089C;
    text-align: left;
    border: 1px solid #ccc;  /* Borda cor púrpura */
    padding: 5px;  /* Adicionando um pequeno padding para deixar a borda mais visível */
    border-radius: 1px;  /* Borda arredondada, caso queira */
}

.textAuthor, 
.textPublicationDate {
    font-family: 'Inter', sans-serif ;
    font-weight: 400; /* regular */
    font-size: 15px;
    color: #4F0B82;
    margin-left: 8px; /* pequeno espaçamento à esquerda */
    text-align: left;
    text-decoration: none;
    border: 1px solid #ccc;  /* Borda cor púrpura */
    padding: 5px;  /* Adicionando um pequeno padding para deixar a borda mais visível */
    border-radius: 1px;  /* Borda arredondada, caso queira */
  }

  .textPublicationDate{
    margin-bottom: 2%;
  }
  .textAuthor {
    margin-top: 3%;
    margin-bottom: 1%;
  }

  .imageArticle{
    width: 80%;
    display: block;
    margin: 0 auto;
    border: 1px solid #ccc;  /* Borda cor púrpura */
    padding: 5px;  /* Adicionando um pequeno padding para deixar a borda mais visível */
    border-radius: 1px;  /* Borda arredondada, caso queira */
  }

  .textArticle{
    margin-left: 8px;
    text-decoration: none;
    font-family: 'Inter', sans-serif ;
    font-weight: 400; /* regular */
    font-size: 18px;
    text-align: left !important;
    margin-top: 3%;
    width: 100%;

  }

  .subtitleArticle{
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    /* This means "extra-bold" */
    font-size: 24px;
    color: #8C089C;
    text-align: left;
    margin-left: 8px;
    border: 1px solid #ccc;  /* Borda cor púrpura */
    padding: 5px;  /* Adicionando um pequeno padding para deixar a borda mais visível */
    border-radius: 1px;  /* Borda arredondada, caso queira */
  }