.searchContainer {
  background-color: white;
  box-shadow: 0 5px 15px -3px rgba(0, 0, 0, 0.3);
  padding: 16px;
  width: 100%;
  position: relative; /* Fundamental para o posicionamento absoluto do dropdown */
  margin-top: 10px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.inputWrapper {
  flex: 1;
  border: 1px solid #5B079B;
  border-radius: 20px;
  padding: 8px 12px;
  position: relative;
  width: 100%;
}

/* Ícone da lupa */
.searchIcon {
  width: 16px;
  height: 16px;
  margin: 0;
  background-color: transparent;
}

/* Estilo do input */
.searchInput {
  flex: 1;
  border: none;
  outline: none;
  font-family: 'Inter', sans-serif;
  font-weight: 300;
  font-size: 15px;
  margin: 0;
  padding-left: 0;
  z-index: 1;
  position: relative;
  min-width: 0;
}

.searchButton {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  box-shadow: none;
  z-index: 2;
}

.searchInput::placeholder {
  color: #8C089C;
  font-family: 'Inter', sans-serif;
  font-weight: 300;
  font-size: 15px;
  border:none;
  outline:none !important;
  box-shadow:none;
}

/* DROPDOWN */
.suggestions {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: white;

  border-top: none;
  z-index: 1000;
  max-height: 200px;
  overflow-y: auto;
  list-style: none;
  margin: 0;
  padding: 0;
  box-shadow: 0 5px 15px -3px rgba(0, 0, 0, 0.3);
}

.suggestionItem {
  padding: 8px 12px;
  cursor: pointer;
  color: #8C089C;
  font-family: 'Inter', sans-serif;
  font-weight: 300;
  font-size: 15px;
  border:none;

  box-shadow:none;
}

.suggestionItem:hover {
  background-color: #f2f2f2;
}

.searchInput:focus {
  outline: none;
  box-shadow: none;
}

.searchInput:focus::placeholder {
  color: transparent;
}


@media (max-width: 768px){
  .searchInput {
    font-size: 1em;
  }

  .searchInput::placeholder {
    font-size: 1em;
  }

  .inputWrapper {
    border-radius: 35px;
  }

  .suggestionItem {
    font-size: 1em;
  }
}