.searchContainer {
  background-color: var(--search-bg);
  box-shadow: 0 5px 15px -3px rgba(0, 0, 0, 0.3);
  padding: 16px;
  width: 100%;
  position: relative;
  margin-top: 10px;
  display: flex;
  align-items: center;
  gap: 8px; /* mantém um espaçamento entre input e lupa */
}

.inputWrapper {
  position: relative;
  flex: 1;
  border: 1px solid #5B079B;
  border-radius: 20px;
  padding: 8px 12px;
  width: 100%;
}

.searchInput {
  width: 100%;
  border: none;
  outline: none;
  font-family: 'Inter', sans-serif;
  font-weight: 300;
  font-size: 15px;
  color: var(--search-input-font-color);
  background-color: transparent;
}

.searchButton {
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
}

.searchIcon {
  width: 16px;
  height: 16px;
}

input.searchInput{
  padding-right: 0;
}

.searchInput::placeholder {
  color: var(--search-placeholder-color);
  font-family: 'Inter', sans-serif;
  font-weight: 300;
  font-size: 15px;
  border:none;
  outline:none !important;
  box-shadow:none;
}

/* DROPDOWN */
.suggestions {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: var(--search-bg);

  border-top: none;
  z-index: 1000;
  max-height: 200px;
  overflow-y: auto;
  list-style: none;
  margin: 0;
  padding: 0;
  box-shadow: 0 5px 15px -3px rgba(0, 0, 0, 0.3);
}

.suggestionItem {
  padding: 8px 12px;
  cursor: pointer;
  color: var(--suggestion-text-color);
  font-family: 'Inter', sans-serif;
  font-weight: 300;
  font-size: 15px;
  border:none;

  box-shadow:none;
}

.suggestionItem:hover {
  background-color: var(--suggestion-hover-bg);
}

.searchInput:focus {
  outline: none;
  box-shadow: none;
}

.searchInput:focus::placeholder {
  color: transparent;
}

/* Sem sugestões */
.noSuggestions {
  position: absolute;
  top: 100%;      
  left: 0;
  width: 100%;
  background-color: var(--search-bg);
  color: var(--no-suggestions-text-color);
  padding: 8px 12px;
  font-family: 'Inter', sans-serif;
  font-weight: 300;
  font-size: 15px;
  box-shadow: 0 5px 15px -3px rgba(0, 0, 0, 0.3);
  z-index: 1000;
  border-top: none;
  margin-top: 4px;  
  border-radius: 0 0 8px 8px;
}

.noSuggestions p {
  margin: 0;
}

.noSuggestions .viewMore {
  color: var(--view-more-link-color);
  cursor: pointer;
  text-decoration: underline;
}

.noSuggestions .viewMore:hover {
  color: var(--view-more-link-hover-color);
}

/* Botão de limpar */
.clearButton {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  font-size: 18px;
  color: var(--clear-button-color);
  cursor: pointer;
  padding: 0;
  line-height: 1;
  z-index: 3;
}

.clearButton:hover {
  color: var(--clear-button-hover-color);
}

/* Adicione isso ao .searchInput se ainda não estiver presente */
.searchInput {
  padding-right: 28px; /* espaço para o botão "X" */
}


@media (max-width: 768px){
  .searchInput {
    font-size: 1em;
  }

  .searchInput::placeholder {
    font-size: 1em;
  }

  .inputWrapper {
    border-radius: 35px;
  }

  .suggestionItem {
    font-size: 1em;
  }
}