.container {
    background-color: var(--article-bar-bg);
    box-shadow: 0 5px 15px -3px rgba(0, 0, 0, 0.3);
    padding: 16px;
    margin-top: 5%;
    width: 100%;
}

.title {
    font-family: 'Inter', sans-serif;
    font-weight: 800;
    font-size: 20px;
    color: var(--article-bar-title-color);
    text-align: left;
}

.option {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    /* regular */
    font-size: 1rem;
    color: var(--article-bar-option-color);
    margin-left: 8px;
    /* pequeno espaçamento à esquerda */
    text-align: left;
    text-decoration: none;
}

.option:hover {
    color: var(--article-bar-option-hover-color) !important;
}

.navLink {
    text-decoration: none;
    /* remove o sublinhado padrão dos links, opcional */
    color: inherit;
    /* mantém a cor definida no .option */
}

.navLink:hover {
    color: var(--article-bar-navlink-hover-color) !important;
}

@media (max-width: 768px) {
    .title {
        font-size: 1.5em;
    }
}