.breadcrumbContainer {
    font-size: 14px;
    color: #333;
    margin: 10px 0;
        font-family: 'Inter', sans-serif ;
    font-weight: 200; /* regular */
    font-size: 1rem;
    color: #000000;
    margin-left: 8px; /* pequeno espaçamento à esquerda */
    text-align: left;
    text-decoration: none;
  }
  
  .breadcrumbContainer a {
    text-decoration: none;
  }
  
  .breadcrumbContainer a:hover {
    text-decoration: underline;
  }
  
  .breadcrumbContainer span {
    color: #666;
  }
  