.carousel-inner {
  max-height: 400px;
  overflow: hidden;
}

/* Estilos personalizados para os slides */
.carouselItemCustom {
  position: relative;
  width: 100%;
  padding-top: 37%; /* 3/7 = ~42.857% da largura */
  overflow: hidden;
}

/* Imagem do slide */
.carouselImage {
  position: absolute;
  top: 0;
  left: 0;
  height: auto;
  width: 100%;
  object-fit: cover; /* ou contain, dependendo do efeito que deseja */
}

.carouselItemCustom svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Indicadores */
.carouselIndicators :global([data-bs-target]) {
  background-color: #ab00b4;
  opacity: 0.5;
}

.carouselIndicators :global(.active) {
  background-color: #ffff00;
  opacity: 1;
}

/* Slide com GIF */
.gifSlide {
  background-image: url('https://media4.giphy.com/media/v1.Y2lkPTc5MGI3NjExOXMxajBxdWdhM29wbWFnNnBpN2Uxd3B1bjZodmNscm1uOHhiMHM5biZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/K6zCR5Mt2Iahq/giphy.gif');
  background-size: cover;
  background-position: center;
  height: 400px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Overlay */
.overlayAstrologia {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #5B079B80;
  z-index: 1;
}

/* Overlay */
.overlayNumerologia {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #2b089c80  ;
  z-index: 1;
}

/* Overlay */
.overlayTarot {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #be160080  ;
  z-index: 1;
}

/* Overlay */
.overlayMagia {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #8C089C80  ;
  z-index: 1;
}


/* Texto centralizado */
.carouselCaption {
  position: absolute;
  z-index: 2;

  transform: translate(-15%, -30%);
  text-align: center;
  width: 100%;
}

.carouselTitle {
  font-family: 'Poppins', sans-serif;
  font-size: 34px;
  font-weight: bold;
  color: #ffff00;
}

.carouselDescription {
  font-family: 'Poppins', sans-serif;
  font-size: 24px;
  font-weight: 300;
  color: #ffffff;
}

/* Botões do carrossel */
.carouselBtn {
  background: transparent !important;
  border: none;
  z-index: 3 !important;
}

.carouselBtn:hover {
  background: transparent;
}

.carouselBtn .carousel-control-prev-icon,
.carouselBtn .carousel-control-next-icon {
  filter: brightness(0.7);
  transition: filter 0.3s ease, transform 0.3s ease;
}

.carouselBtn:hover .carousel-control-prev-icon,
.carouselBtn:hover .carousel-control-next-icon {
  filter: brightness(2) sepia(1) hue-rotate(40deg) saturate(5);
  transform: scale(1.2);
}


/* Indicadores do carrossel */
.carouselIndicators button {
  background-color: #67006C; /* Roxo quando não ativo */
  border-color: #67006C; /* Mesmo roxo */
}

.carouselIndicators .active {
  background-color: #ffff00; /* Amarelo quando ativo */
  border-color: #ffff00; /* Mesmo amarelo */
}

/* Quando o botão de indicador está sendo "hovered" (passa o mouse em cima) */
.carouselIndicators button:hover {
  background-color: #ffcc00; /* Tom de amarelo mais suave quando o mouse passa */
  border-color: #ffcc00; /* Mesmo tom de amarelo mais suave */
}

.btnCustom {
  top: 10%;
  font-family: 'Poppins', sans-serif; /* Fonte Poppins */
  color: #FFFF00; /* Cor da fonte amarela */
  background-color: #67006C; /* Cor de fundo roxa */
  padding: 8px 16px; /* Espaçamento interno */
  font-size: 14px; /* Tamanho da fonte */
  cursor: pointer; /* Indicador de que é um botão clicável */
  width: 100%;
  max-width: 200px; /* Largura máxima de 136px */
  min-width: 100px; /* Largura mínima de 100px */
  border: none; /* Sem borda */
  border-radius: 0; /* Sem borda arredondada */
  text-align: center; /* Alinhamento do texto */
  margin: 0 auto; /* Centraliza o botão na tela */
  transition: transform 0.3s ease; /* Suaviza o efeito de hover */
  box-shadow: 0 0 0 5px #67006C,
  inset 0 0 0 1px #ffff00;
  position: relative; /* Define o posicionamento para usar o z-index */
  z-index: 10; /* Coloca o botão "para frente" */
}

.btnCustom:hover {
  background-color: #67006C !important; /* Corrige o clareamento no hover */
  box-shadow: 
  0 0 0 5px #67006C,     /* Moldura externa roxa */
  inset 0 0 0 1px #ffff00, /* Borda interna amarela */
  0 0 20px rgba(255, 255, 0, 0.4); /* Sombra amarela sutil no hover */
  
}

.logoImage {
  position: absolute;
  top: 10%; /* ou onde quiser */
  left: 50%;
  transform: translateX(-50%);
  height: 150px;
  z-index: 3;
}
