@media (max-width: 768px) {
  .carouselContainer {
    margin: 10px;
  }
  
  .carouselItem{
     width: auto;
  }
}
  
@media (max-width: 480px) {
  .carouselItemImg {
    height: 200px;
  }
}

@media (min-width: 988px) {
  .ajuste {
    padding-left: 50px;
  }
}

.carouselContainer {
  max-width: 800px;
  height: fit-content;
  margin: 40px auto;
  overflow: hidden;
  box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}
  
.carouselItemImg {
  object-fit: contain;
  height: 450px;
  width: 100%;
}

  