.footer {
  background-color: var(--footer-bg);
  padding: 10px 0;  /* Linha fina de padding */
  width: 100%; /* Garante que ocupe toda a largura da tela */
  display: flex;
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center; /* Centraliza verticalmente */
  flex-direction: row; /* Organiza os itens na horizontal */
  gap: 30px; /* Espaço entre os itens */
}

.footerLogo {
  max-width: 50px; /* Logo pequena */
}

.socialIcons {
  display: flex;
  gap: 20px; /* Espaçamento entre os ícones */
}

.socialIcon {
  color: var(--footer-icon-color);
  font-size: 1.5rem; /* Tamanho dos ícones */
  transition: transform 0.3s ease;
}

.socialIcon:hover {
  transform: scale(1.1); /* Efeito de hover */
}

.copyright {
  color: var(--footer-text-color);
  font-size: 0.8rem;
  font-weight: normal;
  margin-top: 30px;
}

/* Responsividade */
@media (max-width: 767px) {
  .footerLogo {
    max-width: 40px; /* Logo menor em telas pequenas */
  }

  .socialIcons {
    gap: 15px; /* Menor espaço entre os ícones em telas pequenas */
  }

  .socialIcon {
    font-size: 1rem; /* Ícones menores em telas pequenas */
  }

  .copyright {
    font-size: 0.7rem; /* Tamanho menor para o copyright em telas pequenas */
  }
}
