.hero {
  background-size: cover;
  /* já tem */
  background-position: center;
  background-repeat: no-repeat;
  /* para evitar repetição */
  position: relative;
  padding: 5rem 0;
  min-height: 400px;
  /* define uma altura mínima pra garantir espaço */
  display: flex;
  /* pra garantir que o conteúdo se alinhe */
  align-items: center;
  justify-content: center;
}

.overlay {
  position: absolute;
  /* cobre o pai */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to bottom, rgba(42, 0, 83, 0.7), rgba(41, 0, 83, 0.7));
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  z-index: 1;
}

.container {
  max-width: 1200px;
  width: 100%;
  padding: 0 1rem;
  text-align: center;
  color: var(--hero-text-color);
}

.title {
  font-size: 2rem;
  /* menor que 2.8rem */
  color: var(--hero-text-color);
  margin-bottom: 1rem;
  font-weight: 700;
}

.description {
  font-size: 1.2rem;
  line-height: 1.6;
  margin-bottom: 2rem;
  color: var(--hero-text-color);
  text-align: center;
}

.button {
  background-color: var(--hero-button-bg);
  color: var(--hero-button-color);
  padding: 0.8rem 2rem;
  font-weight: bold;
  border-radius: 8px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

html[data-theme=dark] {
  .button {
    background-color: var(--hero-button-bg);
    color: var(--hero-button-color);
  }
}

.button:hover {
  background-color: var(--hero-button-hover-bg);
  color: var(--hero-button-hover-color);
}

@media (max-width: 768px) {
  .title {
    font-size: 2rem;
  }

  .description {
    font-size: 1rem;
  }
}