
/* Seção de Divisor */
.sectionDivider {
  width: 80px;
  height: 4px;
  background-color: #500f69;
  margin: 60px auto;
  border-radius: 2px;
}

.cardContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  max-width: 95%;
  margin: 0 auto;
  padding: 20px;
}

.cardContainerCourse {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5%;
  max-width: 1500px; /* largura fixa que você controla */
  margin: 0 auto;
  padding: 20px;
}

.sectionTitle {
  color: #67006C;
  font-size: 3em;
  font-weight: bold;
}

/* Estilo do botão "Ver Mais" */
.viewMoreButton {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.viewMoreLink {
  display: inline-block;
  padding: 12px 30px;
  background-color: #2B089C; 
  color: white;
  font-size: 1rem;
  text-decoration: none;

  position: relative;
  overflow: hidden;
  transition: all 0.3s ease;
  cursor: pointer;
}

.viewMoreLink::before {
  content: "";
  position: absolute;
  top: 3px; 
  left: 3px; 
  right: 3px;
  bottom: 3px; 
  border: 1px solid #FFEB3B; 

  pointer-events: none; 
}

.viewMoreLink:hover {
  background-color: #4C1C8C; 
}

.sectionDescription {
  font-size: 1.6rem;
  text-align: center;
  margin-bottom: 20px;
}

.viewMoreLink:focus {
  outline: 2px solid #FFEB3B;
  outline-offset: 2px;
}

.emptyWrapper {
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 250px;
  width: 100%;
  text-align: center;
  background-color: transparent;
}

@media (max-width: 1440px) {
  .cardContainer {
    grid-template-columns: repeat(4, 1fr);
  }

  .cardContainerCourse {
    grid-template-columns: repeat(3, 1fr);
  }
  
  .sectionTitle {
    font-size: 1.75rem;
  }

  .emptyWrapper,
  .sectionDescription {
    font-size: 1.25rem;
  }

  .viewMoreLink {
    font-size: 0.8rem;
    padding: 5px 10px;
  }

  .viewMoreButton {
    margin-top: 15px;
    margin-bottom: 0;
  }
}

@media (max-width: 600px) {
  .cardContainer {
    grid-template-columns: 1fr;
    width: 80%;
  }

  .cardContainerCourse {
    grid-template-columns: 1fr;
      justify-items: center; /* centraliza horizontalmente */
  align-items: center;   /* centraliza verticalmente (opcional) */
  }
}