.navbar {
    background-color: #5B079B;
    position: fixed;
    z-index: 2;
    width: 100%;
    top: 0;
  }
  
  .navbarBrand {
    color: #FFFF00;
    font-weight: bold;
    text-decoration: none;
  }
  
  .navbarToggler {
    background-color: #FFFF00;
    border: none;
  }
  
  .navLink {
    font-weight: 500;
    color: #FFFF00;
    text-transform: uppercase;
    text-decoration: none;
  }
  
  .navLink:hover {
    color: #FFFFFF;
  }
  
  .containerFluid {
    padding: 10px;
  }
  