.navbar {
  background-color: #5B079B;
  position: fixed;
  z-index: 2;
  width: 100%;
  top: 0;
}

.navbarBrand {
  color: #FFFF00;
  font-weight: bold;
  text-decoration: none;
  align-items: right;
  height: 70px;
}

@media (max-width: 990px){
  .navbarBrand{
    height: 60px;
  }
}

.navbarToggler {
  background-color: #ffff00;
  border: none;
  width: 60px;
}

.navbar-collapse{
  border: none;
}

.navLink {
  font-weight: 500;
  color: #FFFF00;
  text-transform: uppercase;
  text-decoration: none;

}

.navLink:hover {
  color: #FFFFFF;
}

.containerFluid {
  padding: 10px;
}

.navbar-collapse{
  justify-content: right;
}