.container {
    background-color: white;
    box-shadow: 0 5px 15px -3px rgba(0, 0, 0, 0.3);
    padding: 16px;
    margin-top: 5%;
    width: 100%;
}


.title {
    font-family: 'Inter', sans-serif;
    font-weight: 800;
    /* This means "extra-bold" */
    font-size: 20px;
    color: #8C089C;
    text-align: left;
}

.nameTitle {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    /* regular */
    font-size: 19px;
    color: #4F0B82;
    margin-left: 8px;
    /* pequeno espaçamento à esquerda */
    text-align: center;
}

.description {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    /* regular */
    font-size: 19px;
    color: #4F0B82;
    margin-left: 8px;
    /* pequeno espaçamento à esquerda */
    text-align: left;
}

.imageProfile {
    width: 80%;
    display: block;
    margin: 0 auto;
}

@media (max-width: 768px) {
    .imageProfile {
        width: 70%;
    }

    .title {
        font-size: 1.5em;
    }

    .nameTitle {
        font-size: 1.3em;
    }
}
