.container {
    background-color: var(--about-bg);
    box-shadow: var(--about-shadow);
    padding: 16px;
    margin-top: 5%;
    width: 100%;
}


.title {
    font-family: 'Inter', sans-serif;
    font-weight: 800;
    /* This means "extra-bold" */
    font-size: 20px;
    color: var(--about-title-color);
    text-align: left;
}

.nameTitle {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    /* regular */
    font-size: 19px;
    color: var(--about-name-color);
    margin-left: 8px;
    /* pequeno espaçamento à esquerda */
    text-align: center;
}

.description {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    /* regular */
    font-size: 19px;
    color: var(--about-description-color);
    margin-left: 8px;
    /* pequeno espaçamento à esquerda */
    text-align: left;
}

.imageProfile {
    width: 80%;
    display: block;
    margin: 0 auto;
    margin-bottom: 15px;
    margin-top: 15px;
    border-radius: 50%;
}

@media (max-width: 768px) {
    .imageProfile {
        width: 70%;
    }

    .title {
        font-size: 1.5em;
    }

    .nameTitle {
        font-size: 1.3em;
    }
}