@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
  font-family: 'Montserrat', 'sans-serif';
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  padding-top: 70px;
  margin: 0;
  min-height: 100vh;
}

li{
  font-style: unset;
  list-style: none;
}

h2 {
  margin-top: 40px; 
  font-size: 2rem; 
  color: #333; 
  text-align: center;
}