@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');

* {
  font-family: 'Inter', 'sans-serif' !important;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estiliza a toolbar inteira */
.ql-toolbar {
  min-height: auto !important;
  padding: 4px 8px !important;
  display: flex;
  margin-left: 8px;
  gap: 4px;
  align-items: center;
  height: auto;
  width: calc(100% - 16px) !important;
  /* 8px de cada lado */

}

.react-quill{
  margin-left: 8px;
}
/* Remove espaçamentos internos dos elementos */
.ql-toolbar .ql-formats {
  margin: 0 !important;
}

/* Botões e selects menores */
.ql-toolbar button,
.ql-toolbar select {


  margin-top:0px ;
  box-shadow: none !important;
  filter: none !important;
  outline: none !important;
}

/**/

.ql-picker-label {
  margin: 0;

}

.ql-picker-label::before {
  transform: translateY(-4px);
  /* ou -3px, ajuste fino */
}


.ql-blank,
.ql-container,
.ql-toolbar,
.quill {
  width: calc(100% - 8px);
}
.ql-container,
.ql-blank,
.quill{
  height: 450px;
}
.ql-snow .ql-align svg {
  width: 18px !important;
  height: 18px !important;
  /* opcional: ajustar viewBox se necessário */
}

.ql-align-left {
  text-align: left;
}

.ql-align-center {
  text-align: center;
}

.ql-align-right {
  text-align: right;
}

.ql-align-justify {
  text-align: justify;
}

.ql-editor ul {
  padding-left: 1.5em;
  list-style-type: disc;
}

.ql-editor ol {
  padding-left: 1.5em;
  list-style-type: decimal;
}

.ql-editor li {
  margin-bottom: 0.4em;
}


p {
  text-decoration: none !important;
}

body {
  padding-top: 70px;
  margin: 0;
  min-height: 100vh;
  padding: 0;
}

li {
  font-style: unset;
  list-style: none;
}

h2 {
  margin-top: 40px;
  font-size: 2rem;
  color: #333;
  text-align: center;
}

.emptyMessageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  text-align: center;
}

.emptyMessage {
  padding: 2rem;
  font-size: 1.2rem;
  color: #888;
  font-style: italic;
  margin: 0;
}