@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');

*{
  font-family: 'Inter', 'sans-serif'!important;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Sobrescrevendo o estilo do Quill */
.custom-quill .ql-editor a {
  text-decoration: none !important;
  color: inherit !important;
}

p{
  text-decoration: none !important;
}

body{
  padding-top: 70px;
  margin: 0;
  min-height: 100vh;
  padding: 0;
}

li{
  font-style: unset;
  list-style: none;
}

h2 {
  margin-top: 40px; 
  font-size: 2rem; 
  color: #333; 
  text-align: center;
}

.emptyMessageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%; 
  text-align: center;
}

.emptyMessage {
  padding: 2rem;
  font-size: 1.2rem;
  color: #888;
  font-style: italic;
  margin: 0; 
}

.pageContentWithoutHero {
  margin-top: 90px;
}
